h1{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    font-style: italic;
    text-align: right;
}

#blog-post{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}